
body{
    background-color: rgb(217, 235, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.top{
    width: 100%;
    height:100px;
    background-color: rgb(24, 197, 236); 
}

.SignUp{
    margin: auto;
    height: 500px;
    width: 700px;
    padding: 50px;
    /* background-color: blue; */
}


.login{
    margin: auto;
    height: 500px;
    width: 500px;
    padding: 100px;
}

#heading{
    font-family: 'Century Gothic', 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.bar{
    width:100%;
    height: 50px;
    background-color:  rgb(24, 197, 236); 
}

.bar-text{
    width: 800px;
    margin: auto;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-header{
    margin:auto;
    width: 700px;
    min-height: 400px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    /* font-size: 0; */
    vertical-align: bottom;
    position: relative;
}

.profile-headerImage{
    width: 100%;
    height: 100%;
   
}

.header-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    word-break: break-all;
  
    

}


#profile-pic{
    width: 150px;
    margin-top: -250px;
    border-radius: 50%;
    border: solid 2px white;

}

#menu-buttons{
    width: 80px;
    display: inline-block;
    margin: 5px;
}

.whats-happening{
flex: 1;
padding-top:8px;
width: 300px;
height: 88px;
display: inline-block;
position: relative;
left: 0;
margin-left: 400px; 
position: relative;
background-color: white;


}

textarea{
 width: 100%;
 height: 70px;
 border:none;
 font-family: tahoma;
 
 

}

#post-button{
    float:right;
    border: 10px;
    border-radius: 3px;
    width: 60px;
    background-color: aqua;
    
}

#post-button:hover{
    background-color: aquamarine;
}



.posts{
    width: 400px;
    height:fit-content;
    display: inline-block;
    position: absolute;
    margin-right: 408px;
    right: 0;
    background-color: white;
    
}

.whats-happening-timeline{
    margin: auto;
    margin-top: 20px;
    width: 500px;
    height: 88px;
   padding: 10px;
    background-color: white;

}

.timeline{
    margin: auto;
    width: 500px;
    height:fit-content;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    
 
}

.timeline-child{
    padding: 4px;
    display: flex;
}

.user-timeline{
    min-width:70px;
    min-height:70px;
    float:left; 
    text-align:center; 
    margin-left:50px;
    margin-top:30px;
    /* background-color: white; */
}

.deleteForm{
    margin: auto;
    margin-top: 20px;
    width: 500px;
    height: fit-content;
   padding: 10px;
   background-color: white;
}

.edit-page{
    margin: auto;
    margin-top: 20px;
    width: 500px;
    min-height: 88px;
   padding: 10px;
    background-color: white;
}

.bio-bar{
    background-color: whitesmoke;
    min-height: 400px;
    margin-top: 10px;
    padding: 8px;
}


.post-bar{
    margin-top:10px;
    background-color: whitesmoke;
    padding: 10px;

}

.actual-post{
    padding: 4px;
    display: flex;
}

.bio{
    
    height: fit-content;
    padding: 10px;
    background-color: ligh;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.Short {  
    width: 100%;  
    background-color: #dc3545;  
    margin-top: 5px;  
    height: 3px;  
    color: #dc3545;  
    font-weight: 500;  
    font-size: 12px;  
}  
.Weak {  
    width: 100%;  
    background-color: #ffc107;  
    margin-top: 5px;  
    height: 3px;  
    color: #ffc107;  
    font-weight: 500;  
    font-size: 12px;  
}  
.Good {  
    width: 100%;  
    background-color: #28a745;  
    margin-top: 5px;  
    height: 3px;  
    color: #28a745;  
    font-weight: 500;  
    font-size: 12px;  
}  
.Strong {  
    width: 100%;  
    background-color: #d39e00;  
    margin-top: 5px;  
    height: 3px;  
    color: #d39e00;  
    font-weight: 500;  
    font-size: 12px;  
} 